@using System.Data
@{
    string strQuery = @"select p.Name [Product Name],p.Sku [Product SKU],ps.StockQuantity [No of Product],ps.ChangeDate [Stock Entry Date]
                        from Product p
                        join [dbo].[Product_Stock_Change_History] ps
                        on p.Id=ps.Id";
    DataOperation _dataOperation = new DataOperation();
    DataTable dt = _dataOperation.GetDataTable(strQuery);
    Html.SetActiveMenuItemSystemName("Inventory");
}

<!DOCTYPE html>

<html>
<head>
    <title>Inventory List</title>
</head>
<body>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    @foreach (DataColumn dc in dt.Columns)
                    {
                        <th>@dc.Caption</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (int i=0;i<dt.Rows.Count;i++)
                {
                    <tr>
                        <td>@dt.Rows[i][0]</td>
                        <td>@dt.Rows[i][1]</td>
                        <td>@dt.Rows[i][2]</td>
                        <td>@dt.Rows[i][3]</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>